In [1]:
#list
li=[10,20,30,40,"sai",34.45]
li[0]=100
li

[100, 20, 30, 40, 'sai', 34.45]

In [2]:
type(li)

list

In [3]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
li=[10,20,30,40]
li.append(100)
li

[10, 20, 30, 40, 100]

In [5]:
li.append(200)
li

[10, 20, 30, 40, 100, 200]

In [6]:
li.clear()

In [7]:
li

[]

In [8]:
li=[10, 20, 30, 40, 100, 200]
del(li)

In [9]:
li

NameError: name 'li' is not defined

In [10]:
li=[10,20,30,40,50]
li2=li.copy()
li2

[10, 20, 30, 40, 50]

In [11]:
li3=li[0:2]
li3

[10, 20]

In [14]:
li=[11,11,2,2,3,5,6,7,7,10,10,10]
li.count(11)

2

In [16]:
li1=[1,2,3,4]
li2=[10,20,30,40]
li1.extend(li2)
li1

[1, 2, 3, 4, 10, 20, 30, 40]

In [17]:
li1=[1,2,3,4]
li2=[10,20,30,40]
li1.append(li2)
li1

[1, 2, 3, 4, [10, 20, 30, 40]]

In [18]:
li=[10,20,30,40,50]
li.index(30)

2

In [19]:
li=[10,20,30,40,50]
li.insert(1,500)
li

[10, 500, 20, 30, 40, 50]

In [20]:
li=[10,20,30,40,50]
li.pop()
li

[10, 20, 30, 40]

In [21]:
li=[10,20,30,40,50]
li.remove(30)
li

[10, 20, 40, 50]

In [24]:
li=[10,20,30,40,50]
#li[::-1]
li.reverse()
li

[50, 40, 30, 20, 10]

In [26]:
li=[20,10,15,2,76,36,56]
li.sort()
li

[2, 10, 15, 20, 36, 56, 76]

In [27]:
li=[20,10,15,2,76,36,56]
li.sort(reverse=True)
li

[76, 56, 36, 20, 15, 10, 2]

In [33]:
li=[10,20,30,[100,200],["hello",45,334,56,90]]
li

[10, 20, 30, [100, 200], ['hello', 45, 334, 56, 90]]

In [34]:
li[3]

[100, 200]

In [35]:
li[-1][1]

45

In [36]:
li[-1][0:3]

['hello', 45, 334]

In [45]:
li=[1,2,3,4,5]
li2=[]
# output => [1,4,27,256,3125]
for i in li:
    #print(i**i)
    li2.append(i**i)
li2

[1, 4, 27, 256, 3125]

In [46]:
li=[10,20,30,40]   # output => [11,21,31,41]
li2=[]
for i in li:
    li2.append(i+1)
li2

[11, 21, 31, 41]

In [52]:
# find the how many digits in a given number
n=int(input("Enter a number "))
c=0
while(n>0):   # 0>0
    r=n%10    # r=1%10 => r=1
    c=c+1     # c=3
    n=n//10   # n=1//10 => n=0

print("no.of digits in given number is",c)

Enter a number 145
no.of digits in given number is 3

In [53]:
# find the sum of digits in a given number
n=int(input("Enter a number "))
s=0
while(n>0):
    r=n%10
    s=s+r
    n=n//10
print("sum of digits of given number is",s)

Enter a number 145
sum of digits of given number is 10

In [54]:
n=int(input("Enter a number "))
s=0
while(n>0):      #0>0
    r=n%10       #r=6
    s=s*10+r     #s=876
    n=n//10
print("reverse of digits of given number is",s)

Enter a number 678
reverse of digits of given number is 876

In [56]:
n=int(input("Enter a number "))
temp=n
s=0
while(n>0):      #0>0
    r=n%10       #r=6
    s=s*10+r     #s=876
    n=n//10

if(s==temp):
    print("palindrome")
else:
    print("not palindrome")

Enter a number 456
not palindrome

In [57]:
name=""
type(name)

str

In [58]:
name="rahul"
print(name)

rahul

In [59]:
msg="welcome to vizag station"
msg[:6]

'welcom'

In [60]:
msg[7:]

' to vizag station'

In [61]:
msg[-1]

'n'

In [62]:
msg[::-1]

'noitats gaziv ot emoclew'

In [64]:
# find the given string is palindrome or not
string=input("enter string ")
if(string==string[::-1]):
    print("palindrome")
else:
    print("not palindrome")

enter string madam
palindrome

In [65]:
s="hai"
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [68]:
s='hello good morning'
s.capitalize()

'Hello good morning'

In [69]:
s='HELLO good morning'
s.casefold()

'hello good morning'

In [75]:
s='HELLO good morning'
s.center(50)

'                HELLO good morning                '

In [76]:
s='hello good morning'
s.count('o')

4

In [77]:
s='hello good morning'
s.encode()

b'hello good morning'

In [81]:
s='hello good morning'
s.endswith('morning')

True

In [85]:
s='hello\tgood\tmorning'
s.expandtabs()

'hello   good    morning'

In [87]:
a=10
b=20
c=a+b
print("the value of",a,"and",b,"is",c)
print("the value of {} and {} is {}".format(a,b,c))

the value of 10 and 20 is 30
the value of 10 and 20 is 30

In [90]:
s="@#$"
s.isalnum()

False

In [94]:
s='1234'
s.isdecimal()

True

In [95]:
s="hello good morning"
s.title()

'Hello Good Morning'

In [96]:
s="hello good morning"
s.upper()

'HELLO GOOD MORNING'

In [97]:
s='HELLO GOOD MORNING'
s.lower()

'hello good morning'

In [98]:
s="hello good morning"
s.split()

['hello', 'good', 'morning']

In [100]:
s="Hello good morning"
s.strip()

'Hello good morning'

In [103]:
help(s.strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [107]:
s="Hello good morning"
s.strip('morning')

'Hello good '

In [109]:
# find the how many words in a given string
# ex: hello good morning => 3
s=input("enter your string")
print("number of words in given string is",len(s.split()))

enter your stringhello welcome to good morning
number of words in given string is 5

In [110]:
# find the how many characters in a given string
# ex: hello welcome => 13

s="hello welcome"
len(s)

13

In [112]:
s="hello welcome"
c=0
for i in s:
    c=c+1
print("number of characters in string is",c)

number of characters in string is 13

In [116]:
# find the number of characters in given string without space
s="hello welcome to vizag"
c=0
for i in s:
    if(i!=" "):
        c=c+1
print("without space number of characters is",c)

without space number of characters is 19

In [126]:
#s="hello$ welcome t@ viza*"
#s=hello123
#s= hello  => ifoop
s=""
#help(s.isidentifier)
s="hello welcome"
s.isidentifier()

False

In [121]:
# find the first biggest and second biggest numbers in a list
li=[10,20,5,6,200,101,34]
li.sort()
print("first biggest number is ",li[-1])
print("second biggest number is ",li[-2])

first biggest number is  200
second biggest number is  101

In [132]:
tt=(1,2,3,"sring",1,2,3,34.67)
type(tt)

tuple

In [133]:
tt[-1]

34.67

In [135]:
tt[:5]

(1, 2, 3, 'sring', 1)

In [136]:
tt[:5:2]

(1, 3, 1)

In [137]:
tt=[1,2,3,"sring",1,2,3,34.67]
tt[0]=200
tt

[200, 2, 3, 'sring', 1, 2, 3, 34.67]

In [138]:
tt=(1,2,3,"sring",1,2,3,34.67)
tt[0]=200
tt

TypeError: 'tuple' object does not support item assignment

In [139]:
dir(tt)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [140]:
tt=(1,2,3,"sring",1,2,3,34.67)
tt.count(1)

2

In [142]:
tt.index(3)

2

In [143]:
tt=(1,2,3,[10,20,30],[500,600])
tt

(1, 2, 3, [10, 20, 30], [500, 600])

In [144]:
li=[1,2,3,(20,30,40)]
li

[1, 2, 3, (20, 30, 40)]

In [148]:
s="hello"
c=0
for i in s:
    if(i.isalnum):
        c=c+1
c

5

In [151]:
s={}
type(s)

dict

In [152]:
s={1}
type(s)

set

In [153]:
s=set()
type(s)

set

In [154]:
s={10,10,10,20,30,30,40,"value",True}
s

{10, 20, 30, 40, True, 'value'}

In [157]:
s={0,100,2,20,True,False,"welcome",23.56}
s

{0, 100, 2, 20, 23.56, True, 'welcome'}

In [159]:
for i in s:
    print(i)

0
True
2
100
welcome
23.56
20

In [161]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [162]:
s1={1,2,3,4,10,11,45}
s2={1,2,30,40,10,46,90}
s1.add(1000)
s1

{1, 2, 3, 4, 10, 11, 45, 1000}

In [168]:
s1={1,2,3,4,10,11,45}
s2={1,2,30,40,10,46,90}
s1.difference_update(s2)

In [169]:
s1

{3, 4, 11, 45}

In [176]:
s1={1,2,3,4,10,11,45}
s2={1,2,30,40,10,46,90}
s1.discard(1)

In [178]:
s1={1,2,3,4,10,11,45}
s2={1,2,30,40,10,46,90}
s1.intersection(s2)

{1, 2, 10}

In [182]:
s1={1,2,3,4,10,11,45}
s2={100,200,30,40,1000,46,90}
s1.isdisjoint(s2)

True

In [186]:
s1={1,2,3,4,10,11,45}
s2={1,2,3,4,10,11,90,45,67}
s1.issubset(s2)
s2.issuperset(s1)

True

In [188]:
s1={1,2,3,4,10,11,45}
s1.pop()
s1

{2, 3, 4, 10, 11, 45}

In [191]:
s1={100,2,3,4,10,11,45,True,False}
s1.pop()
s1

{True, 2, 3, 4, 10, 11, 45, 100}

In [193]:
s1={1,2,3,4,10,11,45}
s1.remove(4)
s1

{1, 2, 3, 10, 11, 45}

In [195]:
s1={1,2,3,4,10,11,45}
s1.discard(400)
s1

{1, 2, 3, 4, 10, 11, 45}

In [197]:
s1={1,2,3,4,10,11,45,33,44}
s2={1,2,3,4,10,11,90,45,67}
s1.symmetric_difference(s2)

{33, 44, 67, 90}

In [198]:
s1={1,2,3,4,10,11,45,33,44}
s2={1,2,3,4,10,11,90,45,67}
s1.union(s2)

{1, 2, 3, 4, 10, 11, 33, 44, 45, 67, 90}

In [199]:
s1={1,2,3,4,10,11,45,33,44}
s2={1,2,3,4,10,11,90,45,67}
s1.update(s2)

In [200]:
s1

{1, 2, 3, 4, 10, 11, 33, 44, 45, 67, 90}

In [202]:
li=[10,20,30,10,20,40,10,20]
li2=set(li)
list(li2)

[40, 10, 20, 30]