In [7]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [8]:
len(keyword.kwlist)

35

In [9]:
4hello=34

SyntaxError: invalid syntax (<ipython-input-9-92b243c7abd1>, line 1)

In [10]:
hello dingry=45

SyntaxError: invalid syntax (<ipython-input-10-72bc8715bba8>, line 1)

In [11]:
hello45=100

In [12]:
hello45dingri=200

In [13]:
hello#123=67

NameError: name 'hello' is not defined

In [14]:
hello_dingdongbell=45

In [15]:
hello_=60

In [23]:
#print(10+20)
print(45+45)
#print(5+6)

56+6
50+50

90

100

In [25]:
# Add the two numbers
a=100
b=200
c=a+b

print(a)
print(b)
print(c)

100
200
300

In [26]:
# find the subtraction of two numbers
a=5
b=10
print(a-b)

-5

In [29]:
# find the sum of three numbers

a=10
bb=20
c=500
sumthree=a+bb+c
print(sumthree)

530

In [30]:
# find the multiplication of two numbers
a=5
b=15000
print(a*b)

75000

In [36]:
a=2
b=3
print(a/b)
print(a//b)
print(a%b)
print(a**b)

0.6666666666666666
0
2
8

In [38]:
# Assignment operators
a=10
print(a)

10

In [39]:
a=10
a+=20        #  a=a+20
print(a)

30

In [40]:
a=40
b=3
b*=a        # b=b*a =>  b=3*40 => b=120
print(a)
print(b)

40
120

In [41]:
a=40
b=3
a*=b      # a=a*b => a=40*3 => a=120
print(a)
print(b)

120
3

In [42]:
a=40
b=3
a*=b     # a=a*b => a=40*3 => a=120
b+=10     # b=b+10 => b=3+10 => b=13
b*=a      # b=b*a => b=13*120 => b=1560
print(a)
print(b)

120
1560

In [50]:
# condtional operators:
print(10==100)
print(10<20)
print(20<10)
print(20>10)
print(20!=20)
print(100>=1000)

False
True
False
True
False
False

In [54]:
# Logical operators:

10==10 and 10>5  #  True and True
10==10 and 10<5  # True and False
10<5 and 5<2     #  False and False
10<5 and 100==100 # False and True

False

In [59]:
10==10 or 10>5   # True or True
10==10 or 10<5  # True or False
10<5 or 5<2     #  False or False
10<5 or 100==100 # False or True

True

In [62]:
not True
not False

True

In [63]:
not True or not False

True

In [71]:
# Bitwise operators;
a=100
b=50
c=a|b
print(c)

118

In [67]:
bin(14)

'0b1110'

In [68]:
bin(100)

'0b1100100'

In [69]:
bin(50)

'0b110010'

In [72]:
a=10
b=20

a,b,c=10,20,300
c

300

In [73]:
a=b=c=500
print(a)
print(b)
print(c)

500
500
500

In [75]:
a=10
print(a)
print(id(a))

10
1817670976

In [80]:
# Data Types
a=10
b="nenu string"
c=True
d=23.45
e=2+3j

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>

In [83]:
type("12")

str

In [85]:
a=input("Enter your age ")
print(a)
print(type(a))

Enter your age 34
34
<class 'str'>

In [87]:
a=input("Enter your age ")
print("Your age is ",a)

Enter your age 23
Your age is  23

In [88]:
a=input("enter your name ")
b=input("enter your age ")
c=input("enter your ph number ")

print("your details are")
print("**************")
print("your name is ",a)
print("your age is ",b)
print("your ph is ",c)

enter your name nenu chepanu
enter your age nuve telusuko
enter your ph number niku endhuku
your details are
**************
your name is  nenu chepanu
your age is  nuve telusuko
your ph is  niku endhuku

In [91]:
a=int(input("enter a number "))
b=int(input("enter b number "))
c=a+b
print("result is ",c)

enter a number 10
enter b number 23
result is  33

In [90]:
"10"+"23"

'1023'

In [93]:
a=10
type(a)
b=str(a)
type(b)

str

In [5]:
# conditional statements
marks=int(input("Enter your marsks "))
if(marks>60):
    print("your perfect student")
else:
    print("your always perfect student")

Enter your marsks 60
your always perfect student

In [7]:
marks=int(input("enter your marks"))
if(marks>80):
    print("your marks above 80")
elif(marks>60):
    print("your marks above 60")
else:
    print("your marks are below 60")

enter your marks89
your marks above 80